<ion-view title="Búsqueda">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header busqueda">
        <div class="list">
            <label class="item item-radio">
                <input type="radio" name="clase" value="eventos" ng-model="busqueda.clase" ng-change="onClaseRadioButtonChange()">
                <div class="item-content">
                    Eventos
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="clase" value="lugares" ng-model="busqueda.clase" ng-change="onClaseRadioButtonChange()">
                <div class="item-content">
                    Lugares
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Municipio
                </div>
                <select ng-model="busqueda.municipio">
                    <option value="0">Seleccionar...</option>
                    <option ng-repeat="municipio in municipios" value="{{municipio.id}}">{{municipio.nombre}}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Categoría
                </div>
                <select ng-model="busqueda.categoria">
                    <option value="0">Seleccionar...</option>
                    <option ng-repeat="categoria in categorias" value="{{categoria.id}}">{{categoria.nombre}}</option>
                </select>
            </label>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="search" placeholder="Palabras clave..." ng-model="busqueda.keywords">
                </label>
                <button class="button button-small icon ion-android-search button-clear" ng-click="onBuscarButtonClick(busqueda)">
                    BUSCAR
                </button>
            </div>
            <div class="item item-divider">
                Resultados...
            </div>
            <ion-list>
                <ion-item ng-repeat="publicacion in publicaciones" href="#/app/publicacion/{{publicacion.id}}">
                    <img ng-src="{{publicacion.icono}}" alt="" height="35px"/>
                    <h3>{{publicacion.titulo}}</h3>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>