<ion-view title="Categorias">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header categorias">
        <img id="logo" src="img/agendatolimalogo.png" alt=""/>
        <ul class="m-bellows">
            <li class="m-item" id="eventos-accor">
                <h3 class="m-header">
                    <a><i class="icon ion-calendar"></i> Eventos</a>
                </h3>
                <div class="m-content">
                    <div class="m-inner-content">
                        <ion-list>
                            <ion-item ng-repeat="categoria in categoriasEventos" href="#/app/categoria/e/{{categoria.id}}">
                                <img ng-src="{{categoria.icono}}" alt="" height="35px"/>
                                <h3>{{categoria.nombre}}</h3>
                                <span class="badge badge-energized">{{categoria.cantidad}}</span>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </li>
            <li class="m-item" id="lugares-accor">
                <h3 class="m-header">
                    <a><i class="icon ion-android-location"></i> Lugares</a>
                </h3>
                <div class="m-content">
                    <div class="m-inner-content">
                        <ion-list>
                            <ion-item ng-repeat="categoria in categoriasLugares" href="#/app/categoria/l/{{categoria.id}}">
                                <img ng-src="{{categoria.icono}}" alt="" height="35px"/>
                                <h3>{{categoria.nombre}}</h3>
                                <span class="badge badge-energized">{{categoria.cantidad}}</span>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </li>
        </ul>
        <div class="wl"></div>
    </ion-content>
</ion-view>
