<ion-view title="Inicio de Sesión">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header login">
        <img id="logo" src="img/agendatolimalogo.png" alt="" class="hide-on-keyboard-open" />
        <div class="container">
            <form ng-submit="iniciarSesion(user)">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Usuario</span>
                        <input id="usernameText" type="text" ng-model="user.username">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Contraseña</span>
                        <input id="passwordText" type="password" ng-model="user.password">
                    </label>
                </div>
                <button class="button button-block button-energized" type="submit">
                    Iniciar Sesión
                </button>
            </form>
            <div class="wl"></div>
            <p>¿No tienes cuenta?</p>
            <a class="button button-clear button-energized button-block" href="#/app/signup">¡REGISTRATE!</a>
        </div>
    </ion-content>
</ion-view>