<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Atrás</ion-nav-back-button>
            <ion-nav-buttons side="right">
                <a class="button button-clear icon ion-home" href="#/app/categorias"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Agenda Tolima</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close class="item-divider" ng-show="usuario === null">
                    AUTENTIFICACIÓN
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/login" class="item-icon-left" ng-show="usuario === null">
                    <i class="icon ion-android-contact"></i>
                    Iniciar sesión
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/signup" class="item-icon-left" ng-show="usuario === null">
                    <i class="icon ion-android-add-contact"></i>
                    Crear cuenta
                </ion-item>
                <ion-item nav-clear menu-close class="item-divider" ng-hide="usuario === null">
                    USUARIO
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" ng-hide="usuario === null">
                    <i class="icon ion-android-contact"></i>
                    {{usuario.nombre}}
                </ion-item>
                <ion-item nav-clear menu-close ng-click="onCerrarSesionButtonClick()" class="item-icon-left" ng-hide="usuario === null">
                    <i class="icon ion-log-out"></i>
                    Cerrar sesión
                </ion-item>
                <ion-item nav-clear menu-close class="item-divider">
                    PUBLICACIONES
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/busqueda" class="item-icon-left">
                    <i class="icon ion-android-search"></i>
                    Búsqueda
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/eventos" class="item-icon-left">
                    <i class="icon ion-calendar"></i>
                    Eventos
                    <span class="badge badge-energized">{{cantidadEventos}}</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/lugares" class="item-icon-left">
                    <i class="icon ion-android-location"></i>
                    Lugares
                    <span class="badge badge-energized">{{cantidadLugares}}</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/categorias" class="item-icon-left">
                    <i class="icon ion-android-sort"></i>
                    Categorías
                    <span class="badge badge-energized">{{cantidadCategorias}}</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/municipios" class="item-icon-left">
                    <i class="icon ion-map"></i>
                    Municipios
                    <span class="badge badge-energized">{{cantidadMunicipios}}</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
