<div class="modal modal-calificar">
    <ion-header-bar>
        <h1 class="title"><strong>{{usuario.nombre}}</strong>, por favor califica:</h1>
    </ion-header-bar>
    <ion-content>
        <div class="container">
            <div class="list">
                <div class="wl"></div>
                <span class="star-rating">
                    <input type="radio" name="rating" value="1" ng-model="comentario.calificacion"><i></i>
                    <input type="radio" name="rating" value="2" ng-model="comentario.calificacion"><i></i>
                    <input type="radio" name="rating" value="3" ng-model="comentario.calificacion"><i></i>
                    <input type="radio" name="rating" value="4" ng-model="comentario.calificacion"><i></i>
                    <input type="radio" name="rating" value="5" ng-model="comentario.calificacion"><i></i>
                </span>
                <div class="wl"></div>
                <button class="button button-block button-energized icon ion-checkmark" ng-click="onConfirmarCalificacionButtonClick(comentario)">
                    Confirmar
                </button>
            </div>
        </div>
    </ion-content>
</div>