<div class="modal modal-comentar">
    <ion-header-bar>
        <h1 class="title"><strong>{{usuario.nombre}}</strong> dice:</h1>
    </ion-header-bar>
    <ion-content>
        <div class="container">
            <div class="list">
                <div class="wl"></div>
                <label class="item item-input">
                    <textarea placeholder="Comente aquí..." ng-model="comentario.texto" rows="5"></textarea>
                </label>
                <div class="wl"></div>
                <button class="button button-block button-energized icon ion-checkmark" ng-click="onConfirmarComentarioButtonClick(comentario)">
                    Comentar
                </button>
            </div>
        </div>
    </ion-content>
</div>