<ion-view title="Municipios">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header municipios">
        <img id="logo" src="img/agendatolimalogo.png" alt=""/>
        <ul class="m-bellows">
            <li class="m-item" id="eventos-accor">
                <h3 class="m-header">
                    <a><i class="icon ion-calendar"></i> Eventos</a>
                </h3>
                <div class="m-content">
                    <div class="m-inner-content">
                        <ion-list>
                            <ion-item ng-repeat="municipio in municipiosEventos" href="#/app/municipio/e/{{municipio.id}}" class="item-icon-left item-icon-right">
                                <i class="icon ion-map"></i>
                                {{municipio.nombre}}
                                <i class="icon ion-ios7-arrow-right"></i>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </li>
            <li class="m-item" id="lugares-accor">
                <h3 class="m-header">
                    <a><i class="icon ion-android-location"></i> Lugares</a>
                </h3>
                <div class="m-content">
                    <div class="m-inner-content">
                        <ion-list>
                            <ion-item ng-repeat="municipio in municipiosLugares" href="#/app/municipio/l/{{municipio.id}}" class="item-icon-left item-icon-right">
                                <i class="icon ion-map"></i>
                                {{municipio.nombre}}
                                <i class="icon ion-ios7-arrow-right"></i>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </li>
        </ul>
        <div class="wl"></div>
    </ion-content>
</ion-view>
