<ion-view title="{{publicacion.municipio_nombre}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header publicaciones" id="publicacionesContainer">
        <div class="list card">
            <div class="item item-body">
                <a href="#/app/publicacion/{{publicacion.id}}">
                    <img class="full-image" ng-src="{{publicacion.imagen}}">
                </a>
            </div>
            <div class="item title">
                <p>{{publicacion.titulo}}</p>
            </div>
            <div class="item item-divider" ng-hide="publicacion.fecha === ''">
                {{publicacion.fecha}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block button-energized icon-left ion-ios7-arrow-back" ng-click="onPosteriorButtonTap()" ng-show="indice !== 1">
                    Anterior
                </button>
            </div>
            <div class="col">
                <button class="button button-block button-outline button-energized icon-right ion-ios7-arrow-forward" ng-click="onAnteriorButtonTap()" ng-show="publicacion.next">
                    Siguiente
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>