<ion-view title="">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header publicacion" id="publicacionesContainer">
        <div class="list card">
            <div class="item title">
                <p>{{publicacion.titulo}}</p>
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="{{publicacion.imagen}}">
            </div>
            <div class="item item-divider">
                DETALLES
            </div>
            <div class="item" ng-hide="publicacion.calificacion === '' || publicacion.calificacion === '0'">
                <strong>Calificación:</strong>
                <span class="" style="float: right">
                    <i class="icon ion-star"></i>
                    <strong>{{publicacion.calificacion}}</strong>
                </span>
            </div>
            <div class="item" ng-hide="publicacion.fecha === ''">
                <strong>Fecha:</strong>
                <span class="" style="float: right">
                  {{publicacion.fecha}}
                </span>
            </div>
            <div class="item" ng-hide="publicacion.establecimiento === ''">
                <strong>Establecimiento:</strong>
                <span class="" style="float: right">
                  {{publicacion.establecimiento}}
                </span>
            </div>
            <div class="item" ng-hide="publicacion.direccion === ''">
                <strong>Dirección:</strong>
                <span class="" style="float: right">
                  {{publicacion.direccion}}
                </span>
            </div>
            <div class="item" ng-hide="publicacion.email === ''">
                <strong>E-mail:</strong>
                <span class="" style="float: right">
                  {{publicacion.email}}
                </span>
            </div>
            <div class="item" ng-hide="publicacion.telefono === ''">
                <strong>Teléfono:</strong>
                <span class="" style="float: right">
                  {{publicacion.telefono}}
                </span>
            </div>
            <div class="item" ng-hide="publicacion.municipio === ''">
                <strong>Municipio:</strong>
                <span class="" style="float: right">
                  {{publicacion.municipio}}
                </span>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="onCalificarButtonClick()">
                    <i class="icon ion-star"></i>
                    Calificar
                </a>
                <a class="tab-item" ng-click="onComentarButtonClick()">
                    <i class="icon ion-chatbox"></i>
                    Comentar
                </a>
                <a class="tab-item" ng-click="onCompartirButtonClick()">
                    <i class="icon ion-share"></i>
                    Compartir
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item">
                <h2>DESCRIPCIÓN</h2>
            </div>
            <div class="item descripcion">
                <p ng-bind-html="publicacion.contenido"></p>
            </div>
        </div>
        <div class="list card comentarios">
            <div class="item">
                <h2>COMENTARIOS</h2>
            </div>
            <a class="item comentario" ng-repeat="comment in publicacion.comentarios">
                <h4>{{comment.fechax}}</h4>
                <h2>{{comment.autor}} dice:</h2>
                <p>{{comment.comentario}}</p>
            </a>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="onComentarButtonClick()">
                    <i class="icon ion-chatbox"></i>
                    Comentar
                </a>
            </div>
        </div>
        <div class="list card" ng-show="publicacion.latitud !== '' && publicacion.longitud !== ''">
            <div class="item">
                <h2>UBICACIÓN</h2>
            </div>
            <div class="item" id="mapa-rutas" style="height: 300px"></div>
        </div>
        <div class="wl"></div>
        <div class="wl"></div>
    </ion-content>
</ion-view>