<ion-view title="Registro">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header signup">
        <img id="logo" src="img/agendatolimalogo.png" alt="" class="hide-on-keyboard-open" />
        <div class="container">
            <form ng-submit="crearCuenta(user)">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Nombre*</span>
                        <input id="nombreText" type="text" ng-model="user.nombre">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">E-mail*</span>
                        <input id="emailText" type="email" ng-model="user.email">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Usuario*</span>
                        <input id="usernameText" type="text" ng-model="user.username">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Contraseña*</span>
                        <input id="passwordText" type="password" ng-model="user.password">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Repetir contraseña</span>
                        <input id="rpasswordText" type="password" ng-model="user.rpassword">
                    </label>
                </div>
                <button class="button button-block button-energized" type="submit">
                    Crear cuenta
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>