/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$assertive:                       #f0b840 !default;

$tolred:                          #6F2329;
$tolwhite:                        rgb(255, 255, 255);
$tolyellow: rgba(202, 202, 0, 0.20);
$energized:                       #6F2329 !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

/* Empty. Add your own CSS if you like */

/* Empty. Add your own CSS if you like */

#logo {

}

.login {

    #logo {
        width: 90%;
        display: block;
        margin: 3em auto 2em;
    }

    .container {

        > p {
            text-align: center;
            display: block;
        }

        > a {
            text-align: center;
        }

    }

}

.categorias #logo, .municipios #logo, .signup #logo {
    width: 90%;
    display: block;
    margin: 0.5em auto 0.5em;
}

.publicaciones #logo {
    width: 90%;
    display: block;
    margin: 0.5em auto 1em;
}

ion-content .container {
    padding-left: 1em;
    padding-right: 1em;
}

.wl {
    height: 1em;
}

/* SIDEBAR ------------------------------------------ */

ion-side-menu ion-content{
    background-color: #6F2329 !important;
    color: rgb(202, 202, 0);
}

ion-side-menu ion-item ion-content{
    background-color: #6F2329 !important;
    color: rgb(202, 202, 0);
}

ion-side-menu ion-item {
    border-color: #6F2329 !important;
    background-color: #6F2329 !important;
    color: rgb(202, 202, 0) !important;
}

ion-side-menu ion-item.item-divider {
    background-color: rgb(202, 202, 0) !important;
    color: #6F2329 !important;
    font-size: 0.9em;
    height: 20px;
    line-height: 12px;
}

ion-side-menu ion-item .item-content {
    background-color: #6F2329 !important;
    color: rgb(202, 202, 0);
}

ion-side-menu ion-content ion-list .list ion-item.item a.item-content span.badge {
    background-color: rgb(202, 202, 0);
    color: #6F2329;
    padding-top: 4px !important;
    padding-left: 9px !important;
    top: 13px;
    right: 15px;
}

ion-side-menu ion-content ion-list .list ion-item.item.current a.item-content {
    background-color: #581B20 !important;
}

/* ENCABEZADO DE SIDEBAR */

ion-side-menu header.bar {
    background-color: #6F2329 !important;
}

ion-side-menu header.bar h1.title {
    color: rgb(202, 202, 0) !important;
    font-weight: bold;
}

/* ENCABEZADO DE CONTENT */

ion-pane ion-nav-bar button.button {
    color: #6F2329 !important;
}

ion-pane ion-nav-bar h1 {
    color: #6F2329 !important;
}

ion-pane header.bar h1.title {
    color: rgb(202, 202, 0) !important;
    font-weight: bold;
}

ion-pane ion-nav-view ion-view ion-content ion-list .list ion-item.item {
    color: #6F2329 !important;
}

.my-item {
    left: 0;
    right: 0;
}

.publicaciones {

    background: linear-gradient(135deg, $tolwhite 22px, $tolyellow 22px, $tolyellow 24px, transparent 24px, transparent 67px, $tolyellow 67px, $tolyellow 69px, transparent 69px), linear-gradient(225deg, $tolwhite 22px, $tolyellow 22px, $tolyellow 24px, transparent 24px, transparent 67px, $tolyellow 67px, $tolyellow 69px, transparent 69px)0 64px;
    background-color: $tolwhite;
    background-size: 64px 128px;

    .list.card {

        margin: 0;
        box-shadow: 0 2px 4px rgba(111, 35, 41, 0.97);

        .item {

            p {
                text-align: center;
            }

            &.title {
                p {
                    font-weight: 500 !important;
                    color: black;
                    font-size: 16pt;
                    white-space: normal;
                }

                overflow: visible;
                text-overflow: initial;
                white-space: normal;
            }

            h2 {
                text-align: center;
            }

            &.item-body {
                padding: 0;
            }

            &.item-divider {
                text-align: center;
                font-weight: 400 !important;
            }

        }

    }

}

.categorias {

    .list {

        ion-item {

            a {
                padding-top: 5px !important;
                padding-bottom: 5px !important;
                vertical-align: middle !important;
                line-height: 20px !important;

                h3 {
                    display: inline-block;
                    margin-bottom: 9px;
                    margin-left: 5px;
                }
            }

        }

    }

}

.busqueda {

    .list {

        .item {

            &.item-radio {
                height: 45px;

                .item-content {
                    padding-bottom: 10px;
                    padding-top: 11px;
                }

                .ion-checkmark {
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
            }

        }

        ion-item {

            a {
                padding-top: 5px !important;
                padding-bottom: 5px !important;
                vertical-align: middle !important;
                line-height: 20px !important;

                h3 {
                    display: inline-block;
                    margin-bottom: 9px;
                    margin-left: 5px;
                    font-weight: 400;
                    width: 300px;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

        }

    }

}

.publicacion {

    background: linear-gradient(135deg, $tolwhite 22px, $tolyellow 22px, $tolyellow 24px, transparent 24px, transparent 67px, $tolyellow 67px, $tolyellow 69px, transparent 69px), linear-gradient(225deg, $tolwhite 22px, $tolyellow 22px, $tolyellow 24px, transparent 24px, transparent 67px, $tolyellow 67px, $tolyellow 69px, transparent 69px)0 64px;
    background-color: $tolwhite;
    background-size: 64px 128px;

    .list.card {

        margin: 0;
        box-shadow: 0 2px 4px rgba(111, 35, 41, 0.97);

        .item {

            p {
                text-align: center;
            }

            &.title {
                p {
                    font-weight: 500 !important;
                    color: black;
                    font-size: 16pt;
                    white-space: normal;
                }

                overflow: visible;
                text-overflow: initial;
                white-space: normal;
            }

            &.descripcion {
                p {
                    font-weight: 400 !important;
                    color: black;
                    font-size: 11pt;
                    white-space: normal;
                    text-align: justify;
                }

                overflow: visible;
                text-overflow: initial;
                white-space: normal;
            }

            &.comentario {

                h2 {
                    text-align: left;
                }

                p {
                    text-align: justify;
                }
            }

            h2 {
                text-align: center;
            }

            &.item-body {
                padding: 0;
            }

            &.item-divider {
                text-align: center;
                font-weight: 400 !important;
            }

        }

    }

}

.modal-comentar {
    min-height: 38%;
    top: 50px;
}

.modal-calificar {

    min-height: 30%;
    top: 50px;

    .star-rating{
        font-size:0;
        white-space:nowrap;
        display:block;
        width:250px;
        height:50px;
        overflow:hidden;
        position:relative;
        background:
        url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
        background-size: contain;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        i{
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 20%;
            z-index: 1;
            background:
            url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
            background-size: contain;
        }
        input{
            -moz-appearance:none;
            -webkit-appearance:none;
            opacity: 0;
            display:inline-block;
            width: 20%;
            height: 100%;
            margin:0;
            padding:0;
            z-index: 2;
            position: relative;
            &:hover + i,
            &:checked + i{
                opacity:1;
            }
        }
        i ~ i{
            width: 40%;
        }
        i ~ i ~ i{
            width: 60%;
        }
        i ~ i ~ i ~ i{
            width: 80%;
        }
        i ~ i ~ i ~ i ~ i{
            width: 100%;
        }
    }

    //JUST COSMETIC STUFF FROM HERE ON. THESE AREN'T THE DROIDS YOU ARE LOOKING FOR: MOVE ALONG.

    //just styling for the number
    .choice{
        position: fixed;
        top: 0;
        left:0;
        right:0;
        text-align: center;
        padding: 20px;
        display:block;
    }

//    //reset, center n shiz (don't mind this stuff)
//    *, ::after, ::before{
//        height: 100%;
//        padding:0;
//        margin:0;
//        box-sizing: border-box;
//        text-align: center;
//        vertical-align: middle;
//    }
//    body{
//        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
//        Helvetica, Arial, "Lucida Grande", sans-serif;
//        &::before{
//            height: 100%;
//            content:'';
//            width:0;
//            background:red;
//            vertical-align: middle;
//            display:inline-block;
//        }
//    }

}