/* Base Style */
.m-bello {
    color: black;
}
.m-bellows .m-header {
    height: 54px;
    line-height: 52px;
    font-size: 13pt;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
    border: solid 1px #ededed;
    border-width: 1px 0;
    position: relative;
    z-index: 5;
    background: #ffffff; /* Old browsers */
}
    .m-bellows .hm-eader:focus {
        z-index: 2;
        background: #ffffff; /* Old browsers */
        border-bottom-color: #d6d6d6;
    }
    .m-bellows .m-item:first-child .m-header {
    }
    .m-bellows .m-item:last-child .m-header, .m-bellows .m-active:last-child .m-inner-content {
    }
    .m-bellows .m-active:last-child .m-header {
    }
.m-bellows .m-header a {
    color: black;
}
.m-bellows .m-inner-content {
    background: white;
}
.m-bellows h2 {
    margin: 0;
    color: black;
    text-shadow: none;
}


/* Accordion with Images */
.m-indicators-images .m-header:after {
    content : "";
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -11px;
    z-index: 4;
    width: 22px;
    height: 22px;
    background: url(../img/bellows.png) 0 -20px no-repeat;
}
    .m-indicators-images .m-active .m-header:after {
        background-position: 0 -43px;
    }
/* -- Retina version -- */
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .m-indicators-images .m-header:after {
        background-position: -11px 0;
        background-size: 33px 43px;
    }
    .m-indicators-images .m-active .m-header:after {
        background-position: -11px -22px;
    }
}



/* Accordion with CSS arrow indicators */
.m-arrows .m-active .m-header:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-top-color: #f6f6f6;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
    z-index: 9;
}
    .m-arrows .m-active .m-header:hover:after {
        border-top-color: #e6e6e6;
    }

/* Accordion with CSS indicators */
.m-indicators-css .m-header:after {
    content : "+";
    color: #999;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -13px;
    z-index: 9;
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
}
    .m-indicators-css .m-active .m-header:after {
        content: "\2212"; /* Unicode minus sign */
    }



/* Accordion with advanced CSS indicators */
.m-css-advanced .m-header:after {
    color: rgba(255,255,255,0.9);
    font-weight: normal;
    text-align: center;
    background: #c5c5c5; /* Old browsers */
    font-size: 18px;
    line-height: 16px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
}
.m-css-advanced .m-header:hover:after {
    color: #fff;
    background: #b4b4b4; /* Old browsers */
}
.m-css-advanced .m-active .m-header:after {
    background: #8a8a8a; /* Old browsers */
}